<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".help_ror_tutorial" %>
  <%= link_to t(".help_homepage"), Settings.railstutorial_help %>
  <%= t ".help_sample_app" %>
  <%= link_to t(".help_ror_book"), Settings.railstutorial_book %>
</p>
